<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sokdrycker | All Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<div th:replace="fragments/general :: top_menu"></div>
	<div class="row">
		<div class="col l8">
			<h2>PRODUCTS</h2>

			<table>
				<thead>
					<tr>
						<th>EAN</th>
						<th>Name</th>
						<th>Sugar(g/100ml)</th>
						<th>Ecodes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.ean}"></td>
						<td th:text="${product.name}"></td>
						<td th:text="${product.sugar}"></td>
						<td><span th:each="keptCode : ${product.keepsEcodes}"
							th:text="|${keptCode.code} |"></span></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>