<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SokDrycker | Look what you drink!</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<div th:replace="fragments/general :: top_menu"></div>


	<div class="container">

		<form 
		th:action="@{/profile/edit-email}" 
		method="post"
			action="#">			
			<div class="input-field">				 
				<input id="email" name="email" type="text" class="validate"> 
				<label for="email">New Email</label>
			</div>

			<button class="btn-large waves-effect waves-light" type="submit">
				Save <i class="material-icons right">chevron_right</i>
			</button>
		</form>
	</div>

</body>
</html>