<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>SokDrycker | Search what you drink!</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<div th:replace="fragments/general :: top_menu"></div>

	<h2>Forgot your password?</h2>
	<form th:action="@{register}" action="#" method="post">
		<div class="input-field">

			<input id="username" name="username" type="text"
				th:field="*{}"> <label for="username">Email</label>
		</div>
		<div class="row center">
			<button class="btn-large waves-effect waves-light" type="submit">
				Reset Password<i class="material-icons right">chevron_right</i>
			</button>

		</div>
	</form>

</body>
</html>