<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SokDrycker | Look what you drink!</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<div class="row">
		<div class="col l4 offset-l4">
			<h2>You logged out</h2>
			<a href="/home">Go back to home</a>
		</div>
	</div>
</body>
</html>